.indicator-cards {
  height:100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-left: 1rem;
  margin-top: .5rem;
}

/* Style for each grid cell (representing an indicator card) */

.indicator-cards app-indicator-card:nth-child(2){
  background-color: #1CA7EC;
  border-radius: 15px;
}

.indicator-cards app-indicator-card:nth-child(1){
  background-color:#FFA630;
  border-radius: 15px;
}

.indicator-cards app-indicator-card:nth-child(3){
  background-color:#F17720;
  border-radius: 15px;
}

.indicator-cards app-indicator-card:nth-child(4){
  background-color:#0474BA;
  border-radius: 15px;
}

/* Optional: Add spacing between grid cells */
.indicator-cards app-indicator-card {
  margin-bottom: 30px;
}